<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prices History</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/history.css') }}">
	<link rel=""icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body>
    <h1>Data history for Tesla's stock</h1>
	<p>	These are the opening, closing, minimum and maximum price histories and the volatility of the day. <br> 
		You can access it at any time and can go back to the main page with this button : 
	<a href="/">
		<button style= "font-size: 16px; cursor: pointer; color: white;">Home page</button>
	</a>
	</p>
		
	<div class="graph-wrapper">	
	    <div>
	        <h2>Opening Price</h2>
	        <div class="graph-container">{{ graphs['opening_value'] | safe }}</div>
	    </div>

	    <div>
	        <h2>Closing Price</h2>
	        <div class="graph-container">{{ graphs['closing_value'] | safe }}</div>
	    </div>

	    <div>
	        <h2>Lowest Price</h2>
	        <div class="graph-container">{{ graphs['min_value'] | safe }}</div>
	    </div>

	    <div>
	        <h2>Highest Price</h2>
	        <div class="graph-container">{{ graphs['max_value'] | safe }}</div>
	    </div>
	</div>
    <div class="volatility-container">
        <h2>Volatility</h2>
        <div class="graph-container">{{ graphs['volatility'] | safe }}</div>
    </div>

	<footer>
        <p>&copy; 2025 APGL Project - ESILV | Created by Zer-Val & CristianoCLS. |
            <a href="https://github.com/Zer-Val/APGL_project" target="_blank">Voir sur GitHub</a>
            | Tesla's stock dashboard - Hosted online
        </p>
    </footer>
</body>
</html>                                                                                                                                        
