<!DOCTYPE html>
<html lang="fr"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Dashboard for APGL</title>               <!-- Title of the page -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>
<body>
        <!-- Afficher le titre -->
        <h1>Final project in APGL -  Dashboard of Tesla's stock price</h1>

        <!-- Afficher la description -->
        <p>
            This dashboard is the final project for the Advanced Python, Git, Linux for Bloomberg course of ESILV, Year 4.
            The goal was to do a dashboard that runs on a web hosted server. It runs on Linux, and scrapes data from the website
            <a href="https://www.google.com/finance/quote/TSLA:NASDAQ" target="_blank">Google Finance</a> and get the stock value of Tesla.
            The scraper runs every 5 minutes and a graph is displayed with the values. Furthermore, every day at 8 PM (UTC-4), a report is 
            produced to analyse the data of the day and displayed on a table beneath. The report is bash generated, and the update of the table 
            is done automatically.
        </p>
	
        <a href="/history">
        	<button style= "font-size: 16px; cursor: pointer;">Data History</button>
        </a>
        
       	<h3> How well does Tesla do ?</h3>

		<p id="tesla-stock-value" style="font-size: 30px; font-weight: bold; color: green; text-align: center;"></p>

    <!-- Conteneur avec fond dégradé -->
    <div id="graph-wrapper">
        <div id="graph-container">
        {{ graphHTML | safe }}
        </div>
    </div>

    <!-- Tableau vide qui sera rempli avec les valeurs du CSV -->
    <div class="container" id="table-wrapper">
        <h2>Analysis of the previous day price fluctuations</h2>
        <table id="rapport-table">
            <thead>
                <tr>
                    <th>Opening price <br> (09:30 AM)</th>
                    <th>Lowest price</th>
                    <th>Highest price</th>
                    <th>Closing price <br> (04:00 PM)</th>
                    <th>Volatility</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="opening-value"></td>
                    <td id="min-value"></td>
                    <td id="max-value"></td>
                    <td id="closing-value"></td>
                    <td id="volatility"></td>
                </tr>
            </tbody>
        </table>
	</div>
    
    <footer>
        <p>&copy; 2025 APGL Project - ESILV | Created by Zer-Val & CristianoCLS. |
            <a href="https://github.com/Zer-Val/APGL_project" target="_blank">Voir sur GitHub</a>
            | Tesla's stock dashboard - Hosted online
        </p>
    </footer>
	
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>
